mixin slide(caption, name, position, src)
    .review__slide&attributes(attributes)
        .review__card
            .review__image
                img.review__picture(src= src, alt= name, width="298", height="379")
            p.review__caption.caption= caption
            p.review__name= name 
            p.review__position= position
            p.review__pagination