footer.footer
    .footer__container.container
        .footer__top
            .footer__logo 
                img.footer__logo-img(src="@img/SaaSto-logo.png", alt="SaaSto logo", width="134", height="30")
            .footer__menu.menu
                include components/menu
            ul.footer__links-list
                li.footer__list-item(title="Instagram")
                    a.footer__list-link.icon-box(href="#") 
                        img.footer__links-link-img.svg-Instagram-dims(src="@img/icons/icons.svg#Instagram", alt="Instagram", width="23", height="23")
                li.footer__list-item(title="Facebook")
                    a.footer__list-link.icon-box(href="#") 
                        img.footer__links-link-img.svg-Facebook-dims(src="@img/icons/icons.svg#Facebook", alt="Facebook", width="23", height="23")
                li.footer__list-item(title="Linkedin")
                    a.footer__list-link.icon-box(href="#") 
                        img.footer__links-link-img.svg-Linkedin-dims(src="@img/icons/icons.svg#Linkedin", alt="Linkedin", width="23", height="23")
                li.footer__list-item(title="Twitter")
                    a.footer__list-link.icon-box(href="#") 
                        img.footer__links-link-img.svg-Twitter-dims(src="@img/icons/icons.svg#Twitter", alt="Twitter", width="23", height="23")
        .footer__bottom
            .footer__terms
                a.footer__link Terms & condition
                a.footer__link Privacy policy
            .footer__rights
                a.footer__link All Right Reserved @ plowv.com