header.header
    .header__container.container
        .header__top 
            .header__logo
                img.header__logo-img(src="@img/SaaSto-logo.png", alt="SaaSto logo", width="180", height="40")
            .header__menu.menu
                button.menu__button(type="button" aria-haspopup="true" aria-expanded="false")
                    span.menu__button-span(aria-hidden="true")
                        .menu__button-text-bar 
                include components/menu

