.subtitle {
    max-width: 660px;
    align-self: center;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #404040;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .subtitle{
    }
}

@media screen and (max-width: 426px) {
    .subtitle {
        font-size: 16px;
        line-height: 36px;
    }
}
