.analytics {
    display: flex;
    justify-content: center;
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-top: 150px;
        padding-bottom: 140px;
        margin: 0;
        max-width: 1570px;
    }
    &__caption {
        margin-top: 20px;
    }
    &__image {
        grid-row-end: span 3;
        order: -1;
        max-height: 886px;
        padding-right: 25px;
        margin-left: -15px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px 0;
        margin-top: 50px;
    }
    &__list-item {
        display: flex;
    }
    &__item-title {
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: #404040;
    }
    &__item-image {
        width: 88px;
        height: 88px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 1230px) {
    .analytics {
        &__container {
            padding-top: 100px;
        }
        &__image {
            padding-right: 0px;
            margin-left: -50px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .analytics {
        &__list {
            gap: 25px;
            flex-direction: inherit;
            flex-wrap: wrap;
        }
        &__item-title {
            font-size: 20px;
            line-height: 120%;
            margin-bottom: 8px;
        }
        &__item-text {
            font-size: 16px;
            line-height: 130%;
        }
        &__item-image {
            width: 56px;
            height: 56px;
        }
    }
}


@media screen and (max-width: 768px) {
    .analytics {
        &__container {
            grid-template-rows: 1fr;
            justify-items: center;
        }
        &__title {
            align-self: end !important;
        }
        &__subtitle {
            align-self: start !important;
        }
        &__list {
            grid-column: span 2;
            grid-row: row 2;
            width: 90%;
            margin-top: 60px;
            gap: 45px 25px;
        }
        &__list-item {
            max-width: 280px;
        }
    }
}

@media screen and (max-width: 700px) {
    .analytics {
        &__list {
            width: 90%;
            justify-content: center;
        }
        &__list-item {
            max-width: max-content;
        }
    }
}

@media screen and (max-width: 426px) {
    .analytics {
        &__container {
            padding-top: 60px;
            overflow: hidden;
            grid-template-columns: 1fr;
        }
        &__title {
            text-align: start;
            margin-top: 40px;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
            line-height: 180%;
        }
        &__image {
            margin-left: -70px;
            max-width: 130%;
        }
        &__list {
            grid-column: auto;
            grid-row: auto;
            justify-content: flex-start;
            margin-top: 40px;
        }
        &__item-title {
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 10px;
        }
        &__item-text {
            font-size: 14px;
            line-height: 180%;
        }
        &__item-image {
            width: 56px;
            height: 56px;
        }
    }
}

@media screen and (max-width: 321px) {
    .analytics {
        &__title {
            margin-top: 50px;
        }
        &__image {
            max-width: 135%;
            padding: 0;
        }
    }
}
