each item in items
    li.list__item.item
        .item__image
            img(src= item.imageSrc alt=item.imageAlt  width="116" height="116")
        .item__caption
            h3.item__title= item.title
            p.caption Time Tracking is never been easier.
            p.caption Just let the stopwatch run