nav.menu__body
    ul.menu__list
        li.menu__list-item
            a.menu__imem-link(href="#invite") Demos
        li.menu__list-item
            a.menu__imem-link(href="#features") Features
        li.menu__list-item
            a.menu__imem-link(href="#price") Pricing
        li.menu__list-item
            a.menu__imem-link(href="#") Contact