section.analytics
    .analytics__container.container 
        h2.analytics__title.title Analytics & <span class="mark">Reporting</span> Brackdown
        p.analytics__caption.caption An enim nullam tempor sapien gravida donec enim ipsum porta justo  congue magna at pretium purus pretium ligula 
        ul.analytics__list
            li.analytics__list-item
                img.analytics__item-image(src="@img/Icon.png", alt="Timer")
                .analytics__item-caption
                    p.analytics__item-title Automatic event tracking
                    p.caption Time Tracking is never been easier.
                    p.caption Just let the stopwatch run
            li.analytics__list-item
                img.analytics__item-image(src="@img/Content.png", alt="Settings")
                .analytics__item-caption
                    p.analytics__item-title Customizable dashboard
                    p.caption Time Tracking is never been easier.
                    p.caption Just let the stopwatch run
            li.analytics__list-item
                img.analytics__item-image(src="@img/Icon_1.png", alt="Calendar")
                .analytics__item-caption
                    p.analytics__item-title Statistics retroactively
                    p.caption Time Tracking is never been easier.
                    p.caption Just let the stopwatch run
        img.analytics__image(src="@img/Objects.png", alt="Telefone")