section.features
    .features__container.container
        h2.features__title.title Some excellent <span class="mark">features</span> for you
        p.features__subtitle.subtitle An enim nullam tempor sapien gravida donec enim ipsum porta justo  congue magna at pretium purus pretium ligula
        ul.features__actions-list
            li.features__action 15k+
                p.features__action-description Active user
            li.features__action 30k
                p.features__action-description Total Download
            li.features__action 10k
                p.features__action-description Customer
        ul.features__list
            li.features__list-item
                .features__list-img
                    .features__img-back
                        img(src="@img/Task Lists.png", alt="task lists", width="48", height="48")
                h3.features__list-title Preset List of Task
                p.features__list-description Make bill payments easily using the wallet app
            li.features__list-item
                .features__list-img
                    .features__img-back
                        img(src="@img/bell 1.png", alt="bell", width="48", height="48").
                h3.features__list-title Reminder of Task
                p.features__list-description Make bill payments easily using the wallet app
            li.features__list-item
                .features__list-img
                    .features__img-back
                        img(src="@img/agenda 1.png", alt="agenda", width="48", height="48")
                h3.features__list-title Complecation Report
                p.features__list-description Make bill payments easily using the wallet app
