doctype html
html(lang="en")
    include html/head
    body
        include html/header
        main.main
            include html/section/primary
            include html/section/features
            include html/section/analytics
        include html/footer
        script(src='js/app.min.js')

