doctype html
html(lang="en")
    head
        include html/head
        title SaaSto
    body
        include html/header
        main.main
            include html/sections/primary
            include html/sections/features
            include html/sections/analytics
            include html/sections/works
            include html/sections/price
            include html/sections/partners
            include html/sections/invite
        include html/footer
        script(src='js/app.min.js')

