section.invite
    .invite__container.container#invite
        h2.invite__title.title Get it no<span class="mark">w for free</span>
        p.invite__caption.caption We are offering free debit cards once you sing up and order a card. we wont chargeyou for our debit card.
        .invite__links-wrapper  
            a.invite__link(href="#")
            a.invite__link(href="#")
        .invite__image
            img.invite__app-example(src="@img/Mobile Screen.png", alt="Mobile Screen" width="400" height="567")