section.partners 
    .partners__container.container 
        .partners__text-wrapper.text-wrapper
            h2.partners__title.title See Ou<span class="mark">r trusted</span> partners
            p.partners__caption.caption Vero homero perfecto mei ut, sonet aperiam an nec. Ni nec dict altera legimu. Me vita de lege ndos expet end is ad. Ex mei omita aliu mi ando
            .partners__link-wrapper
                a.partners__link(href="#") Get Started
        .image-group
            .image-group__left-column 
                .image-group__img1.image-group__image
                    img(src="@img/Logo.png" alt="Partners logo" width="48" height="48")
                .image-group__img3.image-group__image
                    img(src="@img/Logo (2).png" alt="Partners logo"  width="87" height="87")
                .image-group__img5.image-group__image
                    img(src="@img/Logo (4).png" alt="Partners logo"  width="48" height="48")
            .image-group__right-column
                .image-group__img2.image-group__image
                    img(src="@img/Logo (1).png" alt="Partners logo"  width="72" height="72")
                .image-group__img4.image-group__image
                    img(src="@img/Logo (3).png" alt="Partners logo"  width="114" height="99")
