section.price 
    .price__container.container 
        h2.price__title.title Flexible work, Simpl<span class="mark">e Price</span>
        p.price__caption.caption Growth your business with using us
        .price__options
            .toggle
                p.toggle__caption Monthly 
                button.toggle__button
                    .toggle__circle
                p.toggle__caption Yearly
            .price__options-cards.cards 
                include ../mixins/price-card
                +card('Free', '1', '2', '0')(class = "monthly-price")
                +card('Premium', 'Unlimited', 'Unlimited', '30')(class = "monthly-price")
                +card('Free', '1', '2', '0')(class = "yearly-price")
                +card('Free', 'Unlimited', 'Unlimited', '0')(class = "yearly-price")
